@model ViewModel.Category

<div class="border border-secondary">
    <div class="d-flex bg-light text-body border-bottom px-3 py-2">
        <h2 class="h4 flex-grow-1 m-0">
            <a class="text-body" asp-page="Index" asp-route-categoryUrl="@Model.UrlSegment">
                @Model.Name
            </a>
        </h2>
        <span class="d-block align-self-center text-muted">
            <i class="fa fa-files-o"></i> @Model.PostCount
        </span>
    </div>
    <div class="d-flex flex-row p-1">
        <div class="mr-3 mb-1">
            <if condition="Model.LogoUrl">
                <img alt="Category Logo" src="@Model.LogoUrl" height="64" width="64" />
                <else>
                    <img alt="Category Logo" src="~/images/Logo.svg" height="64" width="64" />
                </else>
            </if>
        </div>
        <div class="flex-grow-1">
            <markdown mode="Full" source="@Model.Description" />
        </div>
    </div>
</div>